.download-section {
  margin: 0 auto !important;
  max-width: 83rem !important;
  background-color: #f8f8f8;
  padding: 6.25rem 1.563rem;
  height: auto;
  background-color: #f8f8f8;
    background-image: url("C:\Users\jf287\Desktop\proyectos\car-rental\src\images\download-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.download-section div{
    max-width: 34.375rem;

}
.download-section__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 1rem;
}

.download-section__title h2 {
  font-size: 42px;
}

.download-section__title p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  line-height: 1.5;
}

.download-section__images {
  display: flex;

  gap: 1.875rem;
  margin-top: 1.25rem;
}

@media (max-width: 700px) {
  .download-section__images {
    justify-content: center;
  }
  .download-section__title{
    text-align: center;
  }
  .download-section div{
    margin: 0 auto;
  }
  .download-section{
    background-image: none;
  }
}

@media (max-width: 700px) {
  .download-text {
    margin: 0 auto;
    text-align: center;
  }

}

@media (max-width: 550px) {
  .download-section__images {
    align-items: center;
    flex-direction: column;
  }
  
}
